*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 133%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #282c34;
}

button {
  margin: 0.15rem;
  padding: 0.15rem;
  border-radius: 0.15rem;
  color: white;
  border: 0.01rem solid #4b4b4b;
  background-color: #282c34;
}

code {
  color: #92949a;
  text-transform: uppercase;
}

button:disabled {
  background-color: #92949a;
  cursor: wait;
}

button:hover {
  transform: scale(1.1);
}

:focus {
  outline: none;
}

.app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.5rem;
}

.title {
  text-decoration: underline;
}

.link {
  color: #53eb79;
  text-decoration-style: dotted;
}

.border {
  border: 0.01rem solid #4b4b4b;
  border-radius: 0.5rem;
}

.pad {
  padding: 0.5rem;
}

.margin {
  margin: 0rem 0.5rem 0 0;
}

.medium {
  width: 33%;
}

.wide {
  width: 100%;
}

.note {
  font-size: 0.66rem;
}

.org-names {
  display: flex;
  align-self: flex-start;
  align-items: center;
  height: 100%;
}

.overflow {
  overflow: scroll;
}

.org-listing {
  cursor: pointer;
  margin: 0 0 0.5rem 0;
  border-bottom: 0.01rem dotted white;
  min-height: max-content;
}

.org-listing:hover {
  color: #53eb79;
  border-bottom-color: #53eb79;
}

.column {
  flex-direction: column;
}

.flex-space {
  flex: 1;
}

.info {
  min-height: 50%;
  display: flex;
  justify-content: space-between;
}

.services-info {
  justify-content: flex-start;
}
