*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 133%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

button {
  margin: 0.15rem;
  padding: 0.15rem;
  border-radius: 0.15rem;
  color: white;
  border: 0.01rem solid #4b4b4b;
  background-color: #282c34;
}

button:hover {
  transform: scale(1.1);
}

:focus {
  outline: none;
}

.app {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.5rem;
}

.link {
  color: #53eb79;
  text-decoration-style: dotted;
}

.form {
  padding: 0.5rem;
  border: 0.01rem solid #4b4b4b;
  border-radius: 0.5rem;
}

.medium {
  width: 33%;
}

.wide {
  width: 95%;
}

.note {
  font-size: 0.66rem;
}

.org-names {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  height: 90%;
  overflow: scroll;
}
